<a href="https://colab.research.google.com/github/geabd1/COSC251/blob/main/HW2_abdalla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
    from google.colab import drive

    drive.mount('/content/drive')

Mounted at /content/drive

PART 1

In [ ]:

employees = pd.read_csv('/content/drive/My Drive/Colab Notebooks/employees.csv')


# 1
print("Summary of the DataFrame:")
print(employees.info())

Summary of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             992 non-null    float64
 5   Bonus %            993 non-null    float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(2), object(6)
memory usage: 62.6+ KB
None

In [ ]:
# 2
employees['Salary'].fillna(employees['Salary'].median(), inplace=True)
employees['Bonus %'].fillna(employees['Bonus %'].median(), inplace=True)
print("\nAverage Salary:", employees['Salary'].mean())
print("Average Bonus %:", employees['Bonus %'].mean())

# 3
high_salary_employees = employees[employees['Salary'] > 100000]
print("\nEmployees with Salary > 100K:\n", high_salary_employees)

Average Salary: 90677.35
Average Bonus %: 10.230291999999999

Employees with Salary > 100K:
     First Name  Gender  Start Date Last Login Time    Salary  Bonus %  \
2        Maria  Female   4/23/1993        11:17 AM  130590.0   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705.0    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004.0    1.389
5       Dennis    Male   4/18/1987         1:35 AM  115163.0   10.125
9      Frances  Female    8/8/2002         6:51 AM  139852.0    7.524
..         ...     ...         ...             ...       ...      ...
990      Robin  Female   7/24/1987         1:35 PM  100765.0   10.982
991       Rose  Female   8/25/2002         5:12 AM  134505.0   11.051
992    Anthony    Male  10/16/2011         8:35 AM  112769.0   11.625
995      Henry     NaN  11/23/2014         6:09 AM  132483.0   16.655
999     Albert    Male   5/15/2012         6:24 PM  129949.0   10.169

    Senior Management                  Team
2               False               Finance
3                True               Finance
4                True       Client Services
5               False                 Legal
9                True  Business Development
..                ...                   ...
990              True       Client Services
991              True             Marketing
992              True               Finance
995             False          Distribution
999              True                 Sales

[405 rows x 8 columns]

<ipython-input-84-3f3667b455b6>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employees['Salary'].fillna(employees['Salary'].median(), inplace=True)
<ipython-input-84-3f3667b455b6>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employees['Bonus %'].fillna(employees['Bonus %'].median(), inplace=True)

In [ ]:
# 4
male_highest = employees[employees['Gender'] == 'Male'].nlargest(1, 'Salary')
male_lowest = employees[employees['Gender'] == 'Male'].nsmallest(1, 'Salary')
female_highest = employees[employees['Gender'] == 'Female'].nlargest(1, 'Salary')
female_lowest = employees[employees['Gender'] == 'Female'].nsmallest(1, 'Salary')
print("\nMale Employee with Highest Salary:\n", male_highest[['First Name', 'Salary']])
print("Male Employee with Lowest Salary:\n", male_lowest[['First Name', 'Salary']])
print("Female Employee with Highest Salary:\n", female_highest[['First Name', 'Salary']])
print("Female Employee with Lowest Salary:\n", female_lowest[['First Name', 'Salary']])

# 5
team_salary_stats = employees.groupby('Team')['Salary'].agg(['min', 'max'])
print("\nMinimum and Maximum Salaries per Team:\n", team_salary_stats)

Male Employee with Highest Salary:
     First Name    Salary
981      James  148985.0
Male Employee with Lowest Salary:
     First Name   Salary
576    Michael  35013.0
Female Employee with Highest Salary:
     First Name    Salary
644  Katherine  149908.0
Female Employee with Lowest Salary:
     First Name   Salary
650    Cynthia  35381.0

Minimum and Maximum Salaries per Team:
                           min       max
Team
Business Development  36844.0  147417.0
Client Services       35095.0  147183.0
Distribution          35575.0  149105.0
Engineering           36946.0  147362.0
Finance               35381.0  149908.0
Human Resources       35203.0  149903.0
Legal                 35061.0  148985.0
Marketing             36643.0  149456.0
Product               35013.0  149684.0
Sales                 35802.0  149654.0

In [ ]:
# 6
gender_salary_stats = employees.groupby('Gender')['Salary'].agg(['max', 'mean'])
print("\nMaximum and Average Salary by Gender:\n", gender_salary_stats)

#7
team_gender_salary = employees.groupby(['Team', 'Gender'])['Salary'].mean().reset_index()
print("\nMean Salary for each Team and Gender combination:\n", team_gender_salary)

# 8
employees['Total Salary'] = employees['Salary'] + (employees['Salary'] * employees['Bonus %'] / 100)
print("\nData with Total Salary Column:\n", employees.head())

# 9
employees['Start Date'] = pd.to_datetime(employees['Start Date'], errors='coerce')
employees_joined_2000_2010 = employees[(employees['Start Date'].dt.year >= 2000) & (employees['Start Date'].dt.year <= 2010)]
print("\nEmployees who joined between 2000-2010:\n", employees_joined_2000_2010)

# 10
def salary_bonus_diff(df):
    return pd.Series({
        'Salary Difference': df['Salary'].max() - df['Salary'].min(),
        'Bonus Difference': df['Bonus %'].max() - df['Bonus %'].min()
    })

diff_stats = employees.groupby('Team').apply(salary_bonus_diff)
print("\nDifference between Max and Min Salary and Bonus per Team:\n", diff_stats)

Maximum and Average Salary by Gender:
              max          mean
Gender
Female  149908.0  90098.645012
Male    148985.0  91110.544811

Mean Salary for each Team and Gender combination:
                     Team  Gender        Salary
0   Business Development  Female  92669.060000
1   Business Development    Male  89071.750000
2        Client Services  Female  86430.083333
3        Client Services    Male  93014.797619
4           Distribution  Female  81328.162162
5           Distribution    Male  93861.800000
6            Engineering  Female  89861.715909
7            Engineering    Male  98408.250000
8                Finance  Female  92203.454545
9                Finance    Male  94912.670732
10       Human Resources  Female  94113.972973
11       Human Resources    Male  91368.733333
12                 Legal  Female  90790.382353
13                 Legal    Male  84254.657143
14             Marketing  Female  95881.412500
15             Marketing    Male  86082.365854
16               Product  Female  86182.644444
17               Product    Male  88957.825000
18                 Sales  Female  89814.564103
19                 Sales    Male  93196.666667

Data with Total Salary Column:
   First Name  Gender Start Date Last Login Time    Salary  Bonus %  \
0    Douglas    Male   8/6/1993        12:42 PM   97308.0    6.945
1     Thomas    Male  3/31/1996         6:53 AM   61933.0    4.170
2      Maria  Female  4/23/1993        11:17 AM  130590.0   11.858
3      Jerry    Male   3/4/2005         1:00 PM  138705.0    9.340
4      Larry    Male  1/24/1998         4:47 PM  101004.0    1.389

  Senior Management             Team  Total Salary
0              True        Marketing  104066.04060
1              True              NaN   64515.60610
2             False          Finance  146075.36220
3              True          Finance  151660.04700
4              True  Client Services  102406.94556

Employees who joined between 2000-2010:
     First Name  Gender Start Date Last Login Time    Salary  Bonus %  \
3        Jerry    Male 2005-03-04         1:00 PM  138705.0    9.340
8       Angela  Female 2005-11-22         6:29 AM   95570.0   18.523
9      Frances  Female 2002-08-08         6:51 AM  139852.0    7.524
13        Gary    Male 2008-01-27        11:40 PM  109831.0    5.831
16      Jeremy    Male 2010-09-21         5:56 AM   90370.0    7.369
..         ...     ...        ...             ...       ...      ...
969      Linda  Female 2010-02-04         8:49 PM   44486.0   17.308
971    Patrick    Male 2002-12-30         2:01 AM   75423.0    5.368
972     Victor     NaN 2006-07-28         2:49 PM   76381.0   11.159
988      Alice  Female 2004-10-05         9:34 AM   47638.0   11.209
991       Rose  Female 2002-08-25         5:12 AM  134505.0   11.051

    Senior Management                  Team  Total Salary
3                True               Finance  151660.04700
8                True           Engineering  113272.43110
9                True  Business Development  150374.46448
13              False                 Sales  116235.24561
16              False       Human Resources   97029.36530
..                ...                   ...           ...
969              True           Engineering   52185.63688
971              True  Business Development   79471.70664
972              True                 Sales   84904.35579
988             False       Human Resources   52977.74342
991              True             Marketing  149369.14755

[327 rows x 9 columns]

Difference between Max and Min Salary and Bonus per Team:
                       Salary Difference  Bonus Difference
Team
Business Development           110573.0            18.599
Client Services                112088.0            18.879
Distribution                   113530.0            18.229
Engineering                    110416.0            18.833
Finance                        114527.0            18.782
Human Resources                114700.0            18.499
Legal                          113924.0            18.865
Marketing                      112813.0            18.674
Product                        114671.0            18.242
Sales                          113852.0            17.563

<ipython-input-86-b97568b41ef2>:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  diff_stats = employees.groupby('Team').apply(salary_bonus_diff)

**PART 2**

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/sales_product.csv')

print("### Question 1: Dataset Information ###")
print(df.info())
print(df.head())

### Question 1: Dataset Information ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB
None
  Order ID                     Product Quantity Ordered Price Each  \
0   176558        USB-C Charging Cable                2      11.95
1      NaN                         NaN              NaN        NaN
2   176559  Bose SoundSport Headphones                1      99.99
3   176560                Google Phone                1        600
4   176560            Wired Headphones                1      11.99

       Order Date                      Purchase Address
0  04/19/19 08:46          917 1st St, Dallas, TX 75001
1             NaN                                   NaN
2  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001

In [ ]:
# 2.
print("Question 2: Original Dataset")
print(df.info())
print(df.head())
df_cleaned = df.dropna()
print(" Question 2: Cleaned Dataset")
print(df_cleaned.info())
print(df_cleaned.head())

Question 2: Original Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB
None
  Order ID                     Product Quantity Ordered Price Each  \
0   176558        USB-C Charging Cable                2      11.95
1      NaN                         NaN              NaN        NaN
2   176559  Bose SoundSport Headphones                1      99.99
3   176560                Google Phone                1        600
4   176560            Wired Headphones                1      11.99

       Order Date                      Purchase Address
0  04/19/19 08:46          917 1st St, Dallas, TX 75001
1             NaN                                   NaN
2  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
 Question 2: Cleaned Dataset
<class 'pandas.core.frame.DataFrame'>
Index: 186305 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB
None
  Order ID                     Product Quantity Ordered Price Each  \
0   176558        USB-C Charging Cable                2      11.95
2   176559  Bose SoundSport Headphones                1      99.99
3   176560                Google Phone                1        600
4   176560            Wired Headphones                1      11.99
5   176561            Wired Headphones                1      11.99

       Order Date                      Purchase Address
0  04/19/19 08:46          917 1st St, Dallas, TX 75001
2  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
5  04/30/19 09:27     333 8th St, Los Angeles, CA 90001

In [ ]:
#3
df_cleaned["Quantity Ordered"] = pd.to_numeric(df_cleaned["Quantity Ordered"], errors="coerce")
df_cleaned["Price Each"] = pd.to_numeric(df_cleaned["Price Each"], errors="coerce")
df_cleaned["Order Date"] = pd.to_datetime(df_cleaned["Order Date"], errors="coerce")

df_cleaned = df_cleaned.dropna()
print(df_cleaned.info())
print(df_cleaned.head())

<ipython-input-79-06d6224de141>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Quantity Ordered"] = pd.to_numeric(df_cleaned["Quantity Ordered"], errors="coerce")
<ipython-input-79-06d6224de141>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Price Each"] = pd.to_numeric(df_cleaned["Price Each"], errors="coerce")
<ipython-input-79-06d6224de141>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned["Order Date"] = pd.to_datetime(df_cleaned["Order Date"], errors="coerce")

<class 'pandas.core.frame.DataFrame'>
Index: 185950 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  float64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 9.9+ MB
None
  Order ID                     Product  Quantity Ordered  Price Each  \
0   176558        USB-C Charging Cable               2.0       11.95
2   176559  Bose SoundSport Headphones               1.0       99.99
3   176560                Google Phone               1.0      600.00
4   176560            Wired Headphones               1.0       11.99
5   176561            Wired Headphones               1.0       11.99

           Order Date                      Purchase Address
0 2019-04-19 08:46:00          917 1st St, Dallas, TX 75001
2 2019-04-07 22:30:00     682 Chestnut St, Boston, MA 02215
3 2019-04-12 14:38:00  669 Spruce St, Los Angeles, CA 90001
4 2019-04-12 14:38:00  669 Spruce St, Los Angeles, CA 90001
5 2019-04-30 09:27:00     333 8th St, Los Angeles, CA 90001

<ipython-input-79-06d6224de141>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Order Date"] = pd.to_datetime(df_cleaned["Order Date"], errors="coerce")

In [ ]:
#4
df_cleaned["Month"] = df_cleaned["Order Date"].dt.month
df_cleaned["City"] = df_cleaned["Purchase Address"].apply(lambda x: x.split(", ")[1])
print(df_cleaned.head())

  Order ID                     Product  Quantity Ordered  Price Each  \
0   176558        USB-C Charging Cable               2.0       11.95
2   176559  Bose SoundSport Headphones               1.0       99.99
3   176560                Google Phone               1.0      600.00
4   176560            Wired Headphones               1.0       11.99
5   176561            Wired Headphones               1.0       11.99

           Order Date                      Purchase Address  Month  \
0 2019-04-19 08:46:00          917 1st St, Dallas, TX 75001      4
2 2019-04-07 22:30:00     682 Chestnut St, Boston, MA 02215      4
3 2019-04-12 14:38:00  669 Spruce St, Los Angeles, CA 90001      4
4 2019-04-12 14:38:00  669 Spruce St, Los Angeles, CA 90001      4
5 2019-04-30 09:27:00     333 8th St, Los Angeles, CA 90001      4

          City
0       Dallas
2       Boston
3  Los Angeles
4  Los Angeles
5  Los Angeles

In [ ]:
#5
df_cleaned["Sales"] = df_cleaned["Quantity Ordered"] * df_cleaned["Price Each"]
best_month = df_cleaned.groupby("Month")["Sales"].sum().idxmax()
best_month_sales = df_cleaned.groupby("Month")["Sales"].sum().max()
print(f"The best month for sales is {best_month} with a total of {best_month_sales} sales.")

The best month for sales is 12 with a total of 4613443.34 sales.

In [ ]:
#6
best_city = df_cleaned.groupby("City")["Sales"].sum().idxmax()
best_city_sales = df_cleaned.groupby("City")["Sales"].sum().max()


print(f"City w/ Most Sales: {best_city}, Total Sales: ${best_city_sales:.2f}")

City w/ Most Sales: San Francisco, Total Sales: $8262203.91

In [ ]:
#7
best_selling_product = df_cleaned.groupby("Product")["Quantity Ordered"].sum().idxmax()
best_selling_quantity = df_cleaned.groupby("Product")["Quantity Ordered"].sum().max()

print(f"Best Selling Product: {best_selling_product}, Total Units Sold: {best_selling_quantity}")

Best Selling Product: AAA Batteries (4-pack), Total Units Sold: 31017.0

**PART 3**

In [ ]:
playstore = pd.read_csv('/content/drive/My Drive/Colab Notebooks/googleplaystore.csv')
print("Shape of the DataFrame:", playstore.shape)
print("\nData types of each column:\n", playstore.dtypes)
print("\nNumber of columns with missing values:", playstore.isnull().any().sum())

Shape of the DataFrame: (10841, 13)

Data types of each column:
 App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

Number of columns with missing values: 5

In [ ]:


playstore['Reviews'] = pd.to_numeric(playstore['Reviews'], errors='coerce').astype('Int64')


playstore['Size'] = playstore['Size'].astype(str)
playstore['Size'] = playstore['Size'].str.replace('M', '')
playstore['Size'] = playstore['Size'].str.replace('k', '')
playstore['Size'] = playstore['Size'].str.replace('Varies with device', 'NaN')
playstore['Size'] = pd.to_numeric(playstore['Size'], errors='coerce')
playstore['Size'] = playstore['Size'].astype(float)


playstore['Installs'] = playstore['Installs'].astype(str)
playstore['Installs'] = playstore['Installs'].str.replace('+','')
playstore['Installs'] = playstore['Installs'].str.replace(',','')
playstore['Installs'] = pd.to_numeric(playstore['Installs'], errors='coerce').astype('Int64')


if playstore['Price'].dtype == object:
    playstore['Price'] = playstore['Price'].str.replace('$', '')
playstore['Price'] = pd.to_numeric(playstore['Price'], errors='coerce').astype(float)

In [ ]:
# 3
print("\nOriginal Data types:\n", playstore.dtypes)
playstore["Last Updated"] = pd.to_datetime(playstore["Last Updated"], errors='coerce')
playstore["Day"] = playstore["Last Updated"].dt.day
playstore["Month"] = playstore["Last Updated"].dt.month
playstore["Year"] = playstore["Last Updated"].dt.year
print("\nUpdated Data types:\n", playstore.dtypes)

#4
playstore.dropna(inplace=True)
print("\nNumber of rows after dropping missing values:", playstore.shape[0])

Original Data types:
 App                       object
Category                  object
Rating                   float64
Reviews                    Int64
Size                     float64
Installs                   Int64
Type                      object
Price                    float64
Content Rating            object
Genres                    object
Last Updated      datetime64[ns]
Current Ver               object
Android Ver               object
Day                        int32
Month                      int32
Year                       int32
dtype: object

Updated Data types:
 App                       object
Category                  object
Rating                   float64
Reviews                    Int64
Size                     float64
Installs                   Int64
Type                      object
Price                    float64
Content Rating            object
Genres                    object
Last Updated      datetime64[ns]
Current Ver               object
Android Ver               object
Day                        int32
Month                      int32
Year                       int32
dtype: object

Number of rows after dropping missing values: 9135

In [ ]:
# 5
print("\nUpdated Data types:\n", playstore.dtypes)
cleaned_file_path = "googleplaystore_cleaned.csv"
playstore.to_csv(cleaned_file_path, index=False)
print("\nCleaned data saved to:", cleaned_file_path)

# 6
avg_rating_price = playstore.groupby("Category").agg({"Rating": "mean", "Price": "mean"}).reset_index()
print("\nAverage Rating and Price per Category:\n", avg_rating_price)

# 7
monthly_installs = playstore.groupby("Month")["Installs"].sum().reset_index()
print("\nTotal Installations per Month:\n", monthly_installs)

# 8
most_popular_category = playstore["Category"].value_counts().idxmax()
print("\nMost Popular App Category:", most_popular_category)

#9
top_installed_category = playstore.groupby("Category")["Installs"].sum().idxmax()
print("\nCategory with Largest Installations:", top_installed_category)

#10
top_apps_per_category = playstore.groupby("Category").apply(lambda x: x.nlargest(5, "Installs"))["App"]
print("\nTop 5 Most Installed Apps in Each Category:\n", top_apps_per_category)

Updated Data types:
 App                       object
Category                  object
Rating                   float64
Reviews                    Int64
Size                     float64
Installs                   Int64
Type                      object
Price                    float64
Content Rating            object
Genres                    object
Last Updated      datetime64[ns]
Current Ver               object
Android Ver               object
Day                        int32
Month                      int32
Year                       int32
dtype: object

Cleaned data saved to: googleplaystore_cleaned.csv

Average Rating and Price per Category:
                Category    Rating     Price
0        ART_AND_DESIGN  4.371804  0.097869
1     AUTO_AND_VEHICLES  4.154934  0.153067
2                BEAUTY  4.270923  0.000000
3   BOOKS_AND_REFERENCE  4.286498  0.595816
4              BUSINESS  4.148185  0.430700
5                COMICS  4.133072  0.000000
6         COMMUNICATION  4.121284  0.257283
7                DATING  4.001133  0.110613
8             EDUCATION  4.385526  0.161802
9         ENTERTAINMENT  4.146667  0.033222
10               EVENTS  4.383744  1.929649
11               FAMILY  4.190695  1.301214
12              FINANCE  4.122889  9.448958
13       FOOD_AND_DRINK  4.112934  0.049900
14                 GAME  4.266430  0.275212
15   HEALTH_AND_FITNESS  4.219041  0.213561
16       HOUSE_AND_HOME  4.167942  0.000000
17   LIBRARIES_AND_DEMO  4.202059  0.012222
18            LIFESTYLE  4.112368  6.821420
19  MAPS_AND_NAVIGATION  4.035309  0.138519
20              MEDICAL  4.186560  3.205230
21   NEWS_AND_MAGAZINES  4.154569  0.018426
22            PARENTING  4.319137  0.092407
23      PERSONALIZATION  4.295752  0.403711
24          PHOTOGRAPHY  4.150315  0.489449
25         PRODUCTIVITY  4.154941  0.768878
26             SHOPPING  4.224146  0.027264
27               SOCIAL  4.247048  0.076048
28               SPORTS  4.202488  0.279807
29                TOOLS  4.036509  0.320176
30     TRAVEL_AND_LOCAL  4.068161  0.202969
31        VIDEO_PLAYERS  4.045039  0.007557
32              WEATHER  4.236141  0.411228

Total Installations per Month:
     Month     Installs
0       1    844318661
1       2    634599300
2       3    841660715
3       4   2104577619
4       5   4849022607
5       6   5988975824
6       7  32191835787
7       8  15268151698
8       9    345959225
9      10    533561574
10     11    830296197
11     12    630697147

Most Popular App Category: FAMILY

Category with Largest Installations: GAME

Top 5 Most Installed Apps in Each Category:
 Category
ART_AND_DESIGN  3                                   Sketch - Draw & Paint
                12                         Tattoo Name On My Photo Editor
                19                                           ibis Paint X
                45      Canva: Poster, banner, card maker & graphic de...
                2       U Launcher Lite – FREE Live Cool Themes, Hide ...
                                              ...
WEATHER         4725                   Weather & Clock Widget for Android
                3636                     Weather –Simple weather forecast
                3644                                              Weather
                3652                       wetter.com - Weather and Radar
                5768                                        Amber Weather
Name: App, Length: 165, dtype: object

<ipython-input-76-cf5a30fe44ab>:24: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_apps_per_category = playstore.groupby("Category").apply(lambda x: x.nlargest(5, "Installs"))["App"]